$gradient-start: hsl(249, 99%, 64%);
$gradient-end: hsl(278, 94%, 30%);
$gradient: linear-gradient(45deg, $gradient-start, $gradient-end);
$error: hsl(0, 100%, 66%);

$light-violet: hsl(270, 3%, 87%);
$mid-violet: hsl(279, 6%, 55%);
$dark-violet: hsl(278, 68%, 11%);
